<!DOCTYPE html>
<html>

  {% include head.html %}

  <body data-spy="scroll" data-target="#navbar" data-offset="300" class="home" onload="">
  <div id="splash"><table cellpadding="0" cellspacing="0"><tr><td><img src="/img/logowhite.svg" /></td></tr></table></div>
  <div id="nonsplash">
    <div id="innernonsplash">
  <script>document.getElementById('nonsplash').style.display = 'none';</script>
    {% include header.html %}
    <div id="top" class="intro">

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <div class="container" style="position: relative;">
  <ol class="carousel-indicators vertical">
    {% for image in page.slider %}
    <li data-target="#myCarousel" data-slide-to="{{ forloop.index0 }}" class="{% if forloop.index0 == 0 %}active{% endif %}"></li>
    {% endfor %}
  </ol>
  </div>

  <!-- Wrapper for slides -->
  <div class="carousel-inner vertical" role="listbox">
    {% for image in page.slider %}
    <div class="item {% if forloop.index0 == 0 %}active{% endif %}" style="background: #dedede url('{{ image.image }}') calc(50% + 400px) 20% no-repeat; background-size: 1000px auto;">
      <div class="container text-left" style="position: relative;">
        <h2>{{ image.title }}</h2>
        <a href="{{ image.button_url }}" class="btn">{{ image.button_text }}</a>
      </div>
    </div>
    {% endfor %}

  </div>

</div>


    </div>


    <div class="light" id="over">
      <div class="container">
        <div class="row">
            <div class="col-xs-12 text-left">
                      <h2 class="post-title" style="margin: 0 0 35px;">OVER URBAN WILD</h2>
            </div> 
        </div>
        <div class="row">
            <div class="col-lg-12 text-left">

<p>Et, cum unt. Occaboria nonsequia sam, eribus evellacidi blabor apide di omnihil leculli cimodignis
is estis atur, nobitia quam, tem re, cullaborere, quiatus.</p>

<p>Gendi sectorro te ped escius, volorro blatuscia dolenimet reiuri doluptaqui autemporia doluptam
que lati re possimaios sedition cum as apiet latiberem et dolutent pa dem quodis acipsam alitasp
ellecte voles quis et esti corem. Et escienti soluptatus dolupta quam sitat fugitatem quatem
eatestruptas unt etumqua tionsedit, optus acest, con coneces ciatis id evellup tureptatest, ad qui
rendit ut faccat perum, nisquiatur?
Restorr orest, optia di que voloresto corest, quae cusci dollaut atur atur?
La dolorepra verfero consequ atestio. Pudit, solore pos incti volorep ellorit audae. Dantur?</p>
  
<p>Ra nemodiam, tem quat. Beatque resed maios doluptiunte nemped quam la doluptae litem ide pla
sum nonsecusant vel et voluptaes dis ea velluptati apernam que doluptus pra volor sundellam atem re
et eribea sus con pro odi option et aliquam, cullam, sunt aped qui optatus int.
Musdam, sae dolupta eperibe rspicte numque venimil et, adi autectectur soloren dionsequae
nihicienis eossit liquis intibus</p>

            </div>
          </div>
      </div>
    </div>


    <div class="light" id="collectie">
      <div class="container">
        <div class="row">
            <div class="col-xs-12 text-left">
                      <h2 class="post-title editable" style="margin: 0;">Collectie</h2>
            </div> 
        </div>
      </div>
      <div class="container" style="padding: 0 15px;">
        <div class="row" style="margin: 0px -7px; overflow: hidden;">
          {% assign siteplants = site.plants | sort: 'order' %}
          {% for item in siteplants %}
            <div class="col-md-3 col-sm-4 col-xs-6" style="padding: 0 7px; cursor: pointer;" onclick="window.location.href='{{ item.url }}';">
              <div style="background: white url('{{ item.image }}') center center no-repeat; background-size: contain;">{{ item.title }}</div>
            </div>
          {% endfor %}
          </div>
      </div>
    </div>


    <div class="light" id="luchtzuiverend">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-left"> 
            <h2 class="post-title" style="margin: 0 0 10px;">Luchtzuiverend</h2>
            <p>Planten van Urban Wild zuiveren de lucht in huis. De soorten zijn zelfs specifiek gekozen op hun grote capaciteit
om de lucht in huis gezond te houden. In onze leefomgeving komen veel giftige stoffen voor. Wat de planten doen, is
die chemische stoffen in de lucht opnemen en afbreken. Ook halen planten CO2 uit de lucht om die om te zetten in
zuurstof. De verdamping van een plant draagt ook bij aan een betere luchtvochtigheid in huis. Verder wordt fijnstof
gebonden door het blad van planten. Dat maakt Urban Wild niet alleen mooi om te zien, maar ook fijn om in te leven!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="light" id="jmplants">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 text-left"> 
            <h2 class="post-title" style="margin: 0 0 10px;">JM Plants</h2>
            <p>Wij zijn... soorten zijn zelfs specifiek gekozen op hun grote capaciteit
om de lucht in huis gezond te houden. In onze leefomgeving komen veel giftige stoffen voor.</p>
            <p>Ontmoet de kweker</p>
          </div>
          <div class="col-lg-6 col-md-6"> 
            <img src="/img/portrait.jpg" style="width: 100%;" />
          </div>
        </div>
      </div>
    </div>




    <div class="light" id="contact">
      <div class="container">
        <div class="row">
            <div class="col-xs-12 text-left">
                <h2 class="post-title editable">Contact</h2>
            </div> 
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-lg-3 col-md-3 col-sm-4 text-left ">
              <div class="contactinfo">
              <h3>Adres</h3>
              <p>
              AALSMEERDERWEG 669<br />
              1435 EK RIJSENHOUT<br />
              THE NETHERLANDS</p>
              </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8">                            
                <div id="map" onclick="window.open('https://www.google.nl/maps/place/Meewisse+VOF+J+M+Plants/@52.2705475,4.716179,17z/data=!3m1!4b1!4m5!3m4!1s0x47c5e75fcb52143f:0x94af0545542deaa0!8m2!3d52.2705475!4d4.7183677');">
                  <img src="/img/marker.png" />
                </div>&nbsp;
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-lg-9 col-md-9 col-sm-8">                            
                <div id="map" onclick="window.open('https://www.google.nl/maps/place/Meewisse+VOF+J+M+Plants/@52.2705475,4.716179,17z/data=!3m1!4b1!4m5!3m4!1s0x47c5e75fcb52143f:0x94af0545542deaa0!8m2!3d52.2705475!4d4.7183677');">
                  <img src="/img/marker.png" />
                </div>&nbsp;
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 text-left ">
              <div class="contactinfo">
              <h3>Adres</h3>
              <p>
              AALSMEERDERWEG 669<br />
              1435 EK RIJSENHOUT<br />
              THE NETHERLANDS</p>
              </div>
            </div>

        </div>
      </div>
    </div>




   

    {% include footer.html %}
</div>
  </body>

</html>
